@font-face {
  font-family: 'Rota';
  src: local('Rota'), url(./accets/fonts/Rota/Rota-Regular.otf) format('truetype');
 }

 body {
  margin: 0;
  font-family: 'Rota',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f6f6f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
